/* Web Fonts @import */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors */
:root {
  --color-bg: #181c2f;
  --color-bg-85: #181c2f85;
  --color-bg-darker: #171717;
  --color-text: #ffffff;
  --color-text2: #a7a7a7;
  --color-primary: #ff8157;
  --color-secondary: #662d95;
  --color-accent: #f9a528;
  --color-hover-primary: #c74e25;
  --color-hover-secondary: #3e1b5a;
  --color-hover-accent: #ee8e00;
  --color-font-details: #f4f4f4;
  --gray-card-header: #303641;
  --gray-card-status: #303235;
  --gray-card-bg: #1d222e;
  --red: rgb(255, 39, 39);
  --orange: orange;
  --green: rgb(0, 202, 0);
}

/* General Styling */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-bg);
  font: 1.6em "Poppins", serif;
  line-height: 1.5;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Server Status Styling */

.server-status {
  display: relative;
  background-color: var(--gray-card-bg);
  border-radius: 17px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.on-off {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  width: 100%;
  height: auto;
}

.tip {
  color: var(--color-text2);
  font-size: medium;
  margin: auto;
}

.switch {
  cursor: pointer;
  font-size: 30px;
  position: relative;
  width: 4em;
  height: 2em;
  margin: 10px auto auto auto;
  -webkit-box-shadow: 7px 7px 10px -2px rgba(15, 15, 15, 0.5);
  -moz-box-shadow: 7px 7px 10px -2px rgba(15, 15, 15, 0.5);
  box-shadow: 7px 7px 10px -2px rgba(15, 15, 15, 0.5);
}

.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 4em;
  height: 2em;
  background-color: var(--color-bg-darker);
  transition: 0.4s;
}

.off {
  position: absolute;
  transform: translateX(-7px);
  content: "";
  height: 2em;
  width: 2em;
  background-color: white;
  transition: 0.4s;
  image-rendering: pixelated;
  opacity: 1;
}

.on {
  position: absolute;
  content: "";
  height: 2em;
  width: 2em;
  background-color: white;
  transition: 0.4s;
  image-rendering: pixelated;
  opacity: 0;
}

.switch input:checked + .slider {
  background-color: var(--color-bg-darker);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-bg-darker);
}

.switch input:checked ~ .off {
  transform: translateX(53px);
}

.switch input:checked ~ .on {
  transform: translateX(53px);
  opacity: 1;
}

.stats {
  list-style: none;
  padding: 0;
}

.stat {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: var(--color-text2);
}

.stat1 {
  margin-top: 0;
}

.icon-text {
  padding-top: 3px;
  font-size: 14px !important;
}

.icon-text i {
  margin-right: 5px;
}

.value {
  color: var(--color-text2);
}

.progress-bar {
  height: 12px;
  background-color: var(--color-bg-darker);
  border-radius: 9999px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 9999px;
}

.server-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: var(--color-text);
}

.status {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
  background-color: var(--gray-card-status);
  padding: 12px 8px 8px 8px;
  border-radius: 8px;
}

.status i {
  color: var(--color-text2);
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.offline {
  background-color: var(--red);
}

.launching {
  background-color: var(--orange);
}

.online {
  background-color: var(--green);
}

.share-button {
  color: white;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.share-button:hover {
  color: var(--color-text2);
}
