/* Web Fonts @import */
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors */
:root {
  --color-bg: #181c2f;
  --color-bg-85: #181c2f85;
  --color-bg-darker: #171717;
  --color-text: #ffffff;
  --color-text2: #a7a7a7;
  --color-primary: #ff8157;
  --color-secondary: #662d95;
  --color-accent: #f9a528;
  --color-hover-primary: #c74e25;
  --color-hover-secondary: #3e1b5a;
  --color-hover-accent: #ee8e00;
  --color-font-details: #f4f4f4;
  --gray-card-header: #303641;
  --gray-card-status: #303235;
  --gray-card-bg: #1d222e;
  --red: rgb(255, 39, 39);
  --orange: orange;
  --green: rgb(0, 202, 0);
}

/* General Styling */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  font: 1em "Paytone One", sans-serif;
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover-accent);
  transition: all 0.3s ease;
}

h1 {
  font-family: "Paytone One", sans-serif;
  margin-bottom: 25px;
}

h2 {
  margin-top: 100px;
  font-size: 28px;
}

hr {
  float: left;
  width: 100%;
}

/* Sidebar Styling */

.layout {
  z-index: 1;
}

.layout .header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.layout .content {
  padding: 12px 50px 12px 100px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .layout .content {
    padding: 12px 30px;
    display: flex;
  }
}

.sidebar {
  color: var(--color-text2);
  overflow: hidden !important;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 9px -1px 33px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 9px -1px 33px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 9px -1px 33px -5px rgba(0, 0, 0, 0.35);
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-darker);
}

.sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-bg);
}

.sidebar .image-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.sidebar .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar.has-bg-image .image-wrapper {
  display: block;
}

.sidebar .sidebar-layout {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #17171725; /* var(--color-bg-darker) with 25% opacity */
  z-index: 2;
}

@media screen and (max-width: 350px) {
  aside {
    min-width: 220px !important;
    width: 220px !important;
  }
  h5 {
    font-size: larger !important;
  }
  .menu-title {
    font-size: smaller !important;
    text-wrap: wrap !important;
  }
}

.sidebar .sidebar-layout .sidebar-header {
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 10px 0;
}

.sidebar .sidebar-layout .sidebar-footer {
  height: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}

.layout .sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.layout .sidebar .menu .menu-header {
  font-weight: 600;
  padding: 10px 25px;
  font-size: 1em;
  letter-spacing: 2px;
  transition: opacity 0.3s;
  opacity: 0.5;
}

.layout .sidebar .menu .menu-item a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: var(--color-text2);
}

.layout .sidebar .menu .menu-item a .menu-icon {
  font-size: 1.5rem;
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  transition: color 0.3s;
}

.layout .sidebar .menu .menu-item a .menu-icon i {
  display: inline-block;
}

.layout .sidebar .menu .menu-item a .menu-title {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}

.layout .sidebar .menu .menu-item a .menu-prefix,
.layout .sidebar .menu .menu-item a .menu-suffix {
  display: inline-block;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}

.layout .sidebar .menu .menu-item a:hover .menu-title {
  color: var(--color-text);
}

.layout .sidebar .menu .menu-item a:hover .menu-icon {
  color: var(--color-text);
}

.layout .sidebar .menu .menu-item a:hover .menu-icon i {
  animation: swing ease-in-out 0.5s 1 alternate;
}

.layout .sidebar .menu .menu-item a:hover::after {
  border-color: var(--color-text) !important;
}

.layout .sidebar .menu .menu-item.sub-menu {
  position: relative;
}

.layout .sidebar .menu .menu-item.sub-menu > a::after {
  content: "";
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
}

.layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 20px;
  display: none;
  overflow: hidden;
  z-index: 999;
}
.layout .sidebar .menu .menu-item.sub-menu.open > a {
  color: var(--color-text);
}

.layout .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}

.layout .sidebar .menu .menu-item.active > a .menu-title {
  color: var(--color-text);
}

.layout .sidebar .menu .menu-item.active > a::after {
  border-color: var(--color-text);
}

.layout .sidebar .menu .menu-item.active > a .menu-icon {
  color: var(--color-text);
}

.layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
  background-color: var(--color-bg-darker);
}

.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: var(--color-bg-darker);
}

.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
  border-radius: 50%;
}

.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
  border-radius: 4px;
}

.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  border-radius: 0;
}

.layout
  .sidebar:not(.collapsed)
  .menu
  > ul
  > .menu-item.sub-menu
  > .sub-menu-list {
  visibility: visible !important;
  position: static !important;
  transform: translate(0, 0) !important;
}

.layout .sidebar.collapsed .menu > ul > .menu-header {
  opacity: 0;
}

.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix,
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
  opacity: 0;
}

.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentcolor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}

.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
  background-color: var(--color-text);
}

.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  transition: none !important;
  width: auto;
  margin-left: 3px !important;
  border-radius: 4px;
  display: block !important;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon,
.layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: var(--color-bg-85); /* var(--color-bg) with 85% opacity */
}
.layout
  .sidebar.has-bg-image:not(.collapsed)
  .menu
  > ul
  > .sub-menu
  > .sub-menu-list {
  background-color: var(--color-bg-85); /* var(--color-bg) with 85% opacity */
}

.layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
  background-color: var(--color-text);
}

.layout.rtl .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
  margin-right: 0;
}

.layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
  transform: rotate(135deg);
}

.layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 0;
  padding-right: 20px;
}

.layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}

.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
  right: auto;
  left: 10px;
}

.layout.rtl
  .sidebar.collapsed
  .menu
  > ul
  > .menu-item.sub-menu
  > .sub-menu-list {
  margin-left: -3px !important;
}

@media (max-width: 768px) {
  #btn-collapse {
    display: none;
  }
}

.layout .sidebar .pro-sidebar-logo {
  display: flex;
  align-items: center;
}

.layout .sidebar .pro-sidebar-logo > div {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--color-hover-primary);
  margin-right: 10px;
}

.logo {
  width: 30px;
}

.layout .sidebar .pro-sidebar-logo > h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 25px;
  line-height: 30px;
  transition: opacity 0.3s;
  opacity: 1;
}

.layout .sidebar .footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  padding: 25px 0 0 0;
  border-radius: 8px;
  width: 180px;
  min-width: 190px;
  height: 180px;
  min-height: 180px;
  margin: 0 auto;
  background-color: var(--color-bg-85); /* var(--color-bg) with 85% opacity */
}

.layout .sidebar.collapsed .footer-box {
  height: 200px;
  min-height: 200px;
  padding: 20px;
}

.layout .sidebar .footer-box img.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
}

.layout .sidebar .footer-box a {
  color: var(--color-text);
  font-weight: 500;
}

.username {
  display: block;
  color: var(--color-text2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}

.layout .sidebar.collapsed .username {
  display: unset !important;
}

.user-settings {
  font-size: 30px;
  display: none;
  padding-top: 18px;
}

.layout .sidebar.collapsed .user-settings {
  display: block !important;
}

.layout .sidebar .sidebar-collapser {
  transition: left, right, 0.3s;
  position: fixed;
  left: 260px;
  top: 40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-hover-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  transform: translateX(50%);
  z-index: 111;
  cursor: pointer;
  color: var(--color-text);
  box-shadow: 1px 1px 4px var(--bg-color);
}

.layout .sidebar.collapsed .sidebar-collapser {
  left: 60px;
}

.layout .sidebar.collapsed .sidebar-collapser i {
  transform: rotate(180deg);
}

.layout .sidebar.collapsed .pro-sidebar-logo > h5 {
  opacity: 0;
}

.layout .sidebar.collapsed .footer-box > div > div {
  display: none;
}

.layout .sidebar.collapsed .sidebar-layout .sidebar-footer {
  padding: 5px;
  max-height: 170px !important;
  min-height: 0 !important;
}

.layout .sidebar.collapsed .footer-box {
  max-width: 70px;
  max-height: 160px !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

.layout .sidebar.collapsed .profile-picture {
  width: 50px !important;
  height: 50px !important;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: var(--color-text);
  background-color: #494e52;
}

.badge.primary {
  background-color: var(--color-secondary);
}

.badge.secondary {
  color: var(--color-bg-darker);
  background-color: var(--color-accent);
}

.sidebar-toggler {
  position: fixed;
  right: 20px;
  top: 20px;
  color: var(--color-hover-primary);
}

/* Management Grid Styling */

.management {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 50px 0 50px 0;
  gap: 50px;
}

@media screen and (max-width: 1250px) {
  .management {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .server-status {
    width: 100% !important;
  }

  .on-off {
    gap: 25px;
  }

  .switch {
    margin: auto !important;
  }
}

/* Console Styling */

.console {
  background-color: var(--color-bg-darker);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.messages .message {
  padding: 16px;
  border-radius: 14px;
  background-color: var(--gray-card-header);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
}

.messages .user-message .message-content {
  color: var(--green);
}

.messages .error-message .message-content {
  color: var(--red);
}

.messages .server-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.messages .server-message .server-response {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messages .server-message .server-response .message-content {
  color: white;
}

.time-stamp {
  color: var(--color-text2);
  margin-left: 10px;
}

.input-area {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  background-color: var(--gray-card-status);
  border-radius: 16px;
}

.input-area input {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

.input-area .send-icon {
  color: var(--color-text2);
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

input::placeholder {
  color: var(--color-text2);
  opacity: 0.5;
}

input:focus::placeholder {
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* Server Status Styling */

.server-status {
  display: relative;
  background-color: var(--gray-card-bg);
  border-radius: 17px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  min-width: 320px;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.button {
  width: 140px;
  height: 40px;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto;
  border-radius: 30px;
  color: black;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
}

.svgIcon {
  height: 25px;
  transition-duration: 0.5s;
}

.bell path {
  fill: black;
}

.button:hover {
  filter: saturate(1.5);
  transition-duration: 0.5s;
}

.button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.button:hover .svgIcon {
  transform: rotate(90deg);
  transition-duration: 0.7s;
}

.button.on {
  background-color: #b50d1370;
}

.button.off {
  background-color: #4e9f3d90;
}

.stats {
  list-style: none;
  padding: 0;
}

.stat {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: var(--color-text2);
}

.stat1 {
  margin-top: 0;
}

.icon-text {
  padding-top: 3px;
  font-size: 14px !important;
}

.icon-text i {
  margin-right: 5px;
}

.value {
  color: var(--color-text2);
}

.progress-bar {
  height: 12px;
  background-color: var(--color-bg-darker);
  border-radius: 9999px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 9999px;
}

.server-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: var(--color-text);
}

.status {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
  background-color: var(--gray-card-status);
  padding: 12px 8px 8px 8px;
  border-radius: 8px;
}

.status i {
  color: var(--color-text2);
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.offline {
  background-color: var(--red);
}

.launching {
  background-color: var(--orange);
}

.online {
  background-color: var(--green);
}

.share-button {
  color: white;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.share-button:hover {
  color: var(--color-text2);
}
