<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../favicon-16x16.png"
    />
    <link rel="manifest" href="../../site.webmanifest" />
    <link rel="mask-icon" href="../../safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />
    <title>Server Card</title>
    <meta name="description" content="Zeirea's Login/Sign Up Screens" />
  </head>

  <body>
    <div class="grid">
      <div class="card">
        <div class="header">Serveur Hors Ligne</div>
        <span class="offer">Offre TITAN GOLD</span>

        <ul class="stats">
          <li>
            <div class="stat stat1">
              <span class="icon-text"
                ><i class="fas fa-microchip"></i> CPU</span
              >
              <span class="value">0%</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 0%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-memory"></i> RAM</span>
              <span class="value">0Mo / 2000Mo</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 0%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-hdd"></i> Stockage</span>
              <span class="value">40Go / 50Go</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 80%"></div>
            </div>
          </li>
        </ul>

        <div class="footer">
          <span class="icon-text"
            ><i class="fas fa-user-friends"></i> Joueurs connectés :
            <span>0 / 10</span></span
          >
          <button class="share-button"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="status">
          <span class="status-dot offline"></span> Hors ligne
        </div>
      </div>
      <div class="card">
        <div class="header">Serveur En Démarrage</div>
        <span class="offer">Offre TITAN GOLD</span>

        <ul class="stats">
          <li>
            <div class="stat stat1">
              <span class="icon-text"
                ><i class="fas fa-microchip"></i> CPU</span
              >
              <span class="value">90%</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 90%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-memory"></i> RAM</span>
              <span class="value">1500Mo / 2000Mo</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 75%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-hdd"></i> Stockage</span>
              <span class="value">40Go / 50Go</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 80%"></div>
            </div>
          </li>
        </ul>

        <div class="footer">
          <span class="icon-text"
            ><i class="fas fa-user-friends"></i> Joueurs connectés :
            <span>0 / 10</span></span
          >
          <button class="share-button"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="status">
          <span class="status-dot launching"></span> Démarrage en cours
        </div>
      </div>
      <div class="card">
        <div class="header">Serveur en ligne</div>
        <span class="offer">Offre TITAN GOLD</span>

        <ul class="stats">
          <li>
            <div class="stat stat1">
              <span class="icon-text"
                ><i class="fas fa-microchip"></i> CPU</span
              >
              <span class="value">60%</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 60%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-memory"></i> RAM</span>
              <span class="value">800Mo / 2000Mo</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 40%"></div>
            </div>
          </li>
          <li>
            <div class="stat">
              <span class="icon-text"><i class="fas fa-hdd"></i> Stockage</span>
              <span class="value">40Go / 50Go</span>
            </div>
            <div class="progress-bar">
              <div class="progress-bar-inner" style="width: 80%"></div>
            </div>
          </li>
        </ul>

        <div class="footer">
          <span class="icon-text"
            ><i class="fas fa-user-friends"></i> Joueurs connectés :
            <span>7 / 10</span></span
          >
          <button class="share-button"><i class="fas fa-user-plus"></i></button>
        </div>
        <div class="status">
          <span class="status-dot online"></span> En ligne depuis :
          <i>3 heures</i>
        </div>
      </div>
    </div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
